Repository jacobo-rojas-assuresoft/acme-shop: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix backend lint:fix --, npm run --prefix backend format --, npm run --prefix frontend lint:fix, npm run --prefix frontend format, npm run --prefix backend format

setup docker-compose dockerfile.backend dockerfile.frontend posgresql #6 close
  .gitignore
  backend/package.json
  docker-compose.yml
  docker/dockerfile.backend
  docker/dockerfile.frontend
  frontend/eslint.config.mjs
Due: npm run --prefix backend format

chore:adjust prettier and eslint configuration
  backend/.prettierrc
  backend/.vscode/settings.json
  backend/eslint.config.mjs
  frontend/.prettierrc
  frontend/.vscode/settings.json
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: npm run --prefix frontend format, npm run --prefix backend format

update README.md with Database setup, migration and seed initial data
  README.md
Due: none

configure ORM models, migration and seed initial data
  backend/package-lock.json
  backend/package.json
  backend/src/data-source.ts
  backend/src/database/migrations/1749937886504-InitSchema.ts
  backend/src/database/seeds/seed.ts
  backend/src/entities/order-detail.entity.ts
  backend/src/entities/order.entity.ts
  backend/src/entities/product.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/enums/order-status.enum.ts
  backend/src/enums/user-role.enum.ts
  backend/src/utils/auth.ts
  backend/src/utils/money.ts
  backend/tsconfig.json
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --, npm run --prefix backend format

update README.md with technical notes
  README.md
Due: none

chore: configure initial setup Apollo server
  README.md
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/enums/order-status.enum.ts
  backend/src/enums/user-role.enum.ts
  backend/src/hello/hello.module.ts
  backend/src/hello/hello.resolver.spec.ts
  backend/src/hello/hello.resolver.ts
  backend/src/hello/hello.service.spec.ts
  backend/src/hello/hello.service.ts
  backend/src/product/dto/product.output.ts
  backend/src/product/product.module.ts
  backend/src/product/product.resolver.spec.ts
  backend/src/product/product.resolver.ts
  backend/src/product/product.service.spec.ts
  backend/src/product/product.service.ts
  backend/src/user/dto/create-user.input.ts
  backend/src/user/dto/user.output.ts
  backend/src/user/user.module.ts
  backend/src/user/user.resolver.spec.ts
  backend/src/user/user.resolver.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --, npm run --prefix backend format

chore: update README.md with Database schema
  README.md
Due: none

implement jwt adding login functionality
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.resolver.spec.ts
  backend/src/auth/auth.resolver.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/auth.types.ts
  backend/src/auth/dto/login-response.output.ts
  backend/src/auth/dto/login-user.input.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/entities/user.entity.ts
  backend/src/main.ts
  docs/Acme_DB2_diagram.png
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --, npm run --prefix backend format

chore: add the me function to test guards
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.resolver.ts
  backend/src/auth/auth.types.ts
  backend/src/auth/decorators/current-user.decorator.ts
  backend/src/auth/guards/gql-auth.guard.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/product/product.module.ts
  backend/src/product/product.resolver.ts
  backend/src/product/product.service.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

fix: update a corrected test file by prettier
  backend/test/app.e2e-spec.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

chore: add register functionality
  backend/src/auth/auth.resolver.ts
  backend/src/user/user.service.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

chore:add global exception filter
  backend/src/filters/global-exception.filter.ts
  backend/src/main.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

feat: implement full CRUD operations for products and add soft delete
  README.md
  backend/src/database/migrations/1750543480872-InitSchema.ts
  backend/src/entities/product.entity.ts
  backend/src/product/dto/create-product.input.ts
  backend/src/product/dto/update-product.input.ts
  backend/src/product/product.resolver.ts
  backend/src/product/product.service.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

feat: implement order placement system
  backend/src/app.module.ts
  backend/src/database/migrations/1750543480872-InitSchema.ts
  backend/src/database/migrations/1750626140839-InitSchema.ts
  backend/src/entities/order-detail.entity.ts
  backend/src/entities/order.entity.ts
  backend/src/order/dto/order-item.input.ts
  backend/src/order/order.module.ts
  backend/src/order/order.resolver.spec.ts
  backend/src/order/order.resolver.ts
  backend/src/order/order.service.spec.ts
  backend/src/order/order.service.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

feat: add security and validation
  backend/src/auth/decorators/roles.decorator.ts
  backend/src/auth/dto/login-user.input.ts
  backend/src/auth/guards/roles.guard.ts
  backend/src/order/dto/order-item.input.ts
  backend/src/product/dto/create-product.input.ts
  backend/src/product/dto/update-product.input.ts
  backend/src/product/product.resolver.ts
  backend/src/user/dto/create-user.input.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

feat: Optimize Logging middleware
  backend/src/app.module.ts
  backend/src/middleware/logger.middleware.ts
  backend/src/types/express.d.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

feat: configure initial setup Nextjs and tailwindcss
  frontend/.eslintrc.js
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.module.css
  frontend/src/app/page.tsx
  frontend/src/lib/apollo-client.ts
  frontend/src/lib/graphql/mutations.ts
  frontend/src/lib/graphql/queries.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/public/file.svg
  frontend/src/public/globe.svg
  frontend/src/public/next.svg
  frontend/src/public/vercel.svg
  frontend/src/public/window.svg
  frontend/src/styles/globals.css
  frontend/src/styles/globals.csstouch
  frontend/tailwind.config.js
Due: npm run --prefix frontend lint:fix, npm run --prefix frontend format

feat: configure cors on backend
  backend/src/main.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

feat: implement auth flow, login, register, authentication context and route protection
  frontend/src/components/AuthRoute.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/products.tsx
  frontend/src/pages/protected-page.tsx
  frontend/src/pages/register.tsx
Due: npm run --prefix frontend lint:fix, npm run --prefix frontend format

feat: get products paginated or filtered
  backend/src/product/dto/get-products.args.ts
  backend/src/product/product.resolver.ts
  backend/src/product/product.service.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

feat: implement product management
  frontend/src/components/ProductCard.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/lib/graphql/queries.ts
  frontend/src/pages/products.tsx
  frontend/src/types.ts
  frontend/src/utils/currency.ts
Due: npm run --prefix frontend lint:fix, npm run --prefix frontend format

feat: add loader on ProductPage
  frontend/src/pages/products.tsx
Due: npm run --prefix frontend lint:fix, npm run --prefix frontend format

feat:implement shopping cart
  frontend/src/components/AddToCartButton.tsx
  frontend/src/components/Cart.tsx
  frontend/src/components/ProductCard.tsx
  frontend/src/context/CartContext.tsx
  frontend/src/lib/graphql/queries.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/products.tsx
  frontend/src/types.ts
Due: npm run --prefix frontend lint:fix, npm run --prefix frontend format

feat: add query to get specific order
  backend/src/order/dto/order-detail.output.ts
  backend/src/order/dto/order.output.ts
  backend/src/order/order.resolver.ts
Due: npm run --prefix backend lint:fix --, npm run --prefix backend format --

Path conditions:
  npm run --prefix backend lint:fix --: any of: backend/**/*.{ts,tsx}
  npm run --prefix backend format --: any of: backend/**/*.{ts,tsx}
  npm run --prefix frontend lint:fix: any of: frontend/**/*.{ts,tsx}
  npm run --prefix frontend format: (any of: frontend/**/*.{ts,tsx}) or (any of: frontend/**/*.{json,md,css,scss})
  npm run --prefix backend format: any of: backend/**/*.{json,md,css,scss}
